{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>parent</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
        <h1 class="btn btn-success">This is parent html page </h1>
        <h1>SHAIK SHEKU HUSSAIN AND SHAIK NOORJAHAN</h1>
    
    </center>
    {% block body_block %}

    {% endblock %}


    <script src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>